@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.min.css');

* {
  font-family: 'Rethink Sans', sans-serif;
}

html,
body {
  font-family: 'Rethink Sans', sans-serif;
  /*   font-size: 14px; */
  @apply bg-base-100 text-base-content overflow-hidden;
}

div.Toastify__toast-body div {
  @apply text-sm font-medium;
}

.wrapper {
  @apply px-6 mx-auto lg:px-0 lg:max-w-[95%] w-full;
}

a {
  @apply transition-all;
}

.app-menu .active,
.app-menu a:hover {
  @apply bg-primary text-base-100 opacity-100 transition-all;
}

.map {
  background-image: url('https://agustoportals.sfo3.digitaloceanspaces.com/bg-videos/mapBg.png');
}

.pending {
  @apply bg-info text-sm text-base-100 p-2 rounded;
}

.concluded {
  @apply bg-success text-sm text-base-100 p-2 rounded;
}
